<div class="container">
    <div class="user-card">
        <div class="col-4">
            <p class="img">x</p>
        </div>
        <div class="user-info d-flex">
            <h2>Username</h2>
            <p>Number of post: <span class="post_number">x</span></p>
        </div>
    </div>

    <div class="row user-card">
        <div class="col-4">
            <p class="img">x</p>
        </div>
        <div class="user-info d-flex">
            <h2>Username</h2>
            <p>Number of post: <span class="post_number">x</span></p>
        </div>
    </div>
</div>
