<%= link_to "Add Comment", new_post_comment_path(@post), class: "button btn-success" %>

<div class="posts">
    <%= render partial: 'shared/post', locals: { post: @post,user: @post.author, display_comments: true, single_post: true } %>
</div>

<%= link_to post_likes_path(@post) do %>
    <%= @post.likes_counter %> Like Post
<% end %>