body {
  background-color: #fff;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

p,
a {
  color: rgb(59, 59, 59);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(59, 59, 59);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 567px;
  padding: 3rem 20px;
  border: 1px solid gray;
}

.user-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.user-card .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  padding: 0 10px;
}

.user-card .img {
  border: 1px solid gray;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.posts {
  border: 1px solid gray;
  padding: 10px;
  margin-bottom: 30px;
}

.post {
  border-bottom: 1px solid gray;
}

.post h3 {
  margin: 0;
}

.post h5 {
  margin: 0;
}

.button {
  font-size: 16px;
  padding: 15px 5px;
  border-radius: 0;
  border: 1px solid #948e9f;
  cursor: pointer;
  text-align: center;
  background-color: #948e9f;
  color: white;
  font-weight: bold;
}

.comments-likes {
  text-align: right;
}

.comments {
  padding: 20px;
  border: 1px solid gray;
  margin-bottom: 2rem;
}

.comments li {
  margin-bottom: 10px;
}
